body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #7d002c, #ff4d7d);
  font-family: "Georgia";
  color: white;
  text-align: center;
}

.card {
  background: rgba(0, 0, 0, 0.35);
  padding: 25px;
  border-radius: 15px;
  width: 85%;
  margin: 50px auto;
  box-shadow: 0 8px 18px rgba(0,0,0,0.4);
}

button {
  margin-top: 20px;
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #ffffffdd;
  color: #7d002c;
  font-weight: bold;
  font-size: 17px;
}

.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 25px;
  border-radius: 12px;
  color: black;
  text-align: center;
}
